.layout{
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media (max-width:1000px) {
    .layout{
        flex-direction: column;
        height: min-content;
    }
}