.card{
    width: 90%;
    height: fit-content;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(4, 21, 58);
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:560px) {
    .card{
        flex-direction: column;
        gap: 10px;
    }
}

.optionsbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .btn{
        cursor: pointer;
        transition: color ease 0.15s;
        &:hover{
            color: gray;
        }
    }
}

.desc{
    max-width: 100px;
    min-width: 50px;
    overflow-x: scroll;
}